absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
blessed==1.17.6
blessings==1.7
cachetools==4.2.1
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chess==1.4.0
click==7.1.2
colorama==0.4.4
colorful==0.5.4
cssselect2==0.4.1
cycler==0.10.0
Cython==0.29.30; python_version == "3.7"
defusedxml==0.7.1
docutils==0.16
filelock==3.0.12
fire==0.4.0
flatbuffers==1.12
gast==0.3.3
google-api-core==1.26.1
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.16
grpcio==1.32.0
h5py==2.10.0
hiredis==1.1.0
idna==2.10
inquirer==2.7.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==20.9
Pillow==8.1.2
prometheus-client==0.9.0
protobuf==3.15.6
psutil==5.8.0
py-spy==0.3.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
ray==1.2.0
readchar==2.0.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.15.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tinycss2==1.1.0
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
yarl==1.6.3
